<ion-header>
  <ion-navbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card (click)="tools()">
    <ion-card-header>
      Distraction Tools
    </ion-card-header>
    <ion-card-content>
      <img src="assets/images/distractionTools.png"/>
    </ion-card-content>
  </ion-card>

  <ion-card class="btn" (click)="selfCare()">
    <ion-card-header>
      Self Care
    </ion-card-header>
    <ion-card-content>
      <img src="assets/images/selfCare.png"/>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Support Services
    </ion-card-header>
    <ion-card-content>
      <img src="assets/images/supportServices.png"/>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="diary()">
    <ion-card-header>
      Diary
    </ion-card-header>
    <ion-card-content>
      <img src="assets/images/diary.png"/>
    </ion-card-content>
  </ion-card>

</ion-content>
