<ion-header>
  <ion-navbar>
    <ion-title>
      Tools
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row >
      <ion-col>
        <button style="background-color: #febd5f"   class='large_button' (click)="color()" >Color Page</button>
        <button style="background-color: #6EFECD" class='large_button' (click)="indoorAct()" >Indoor Activities</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button style="background-color: #d87fd7" class='large_button' (click)="outdoorAct()">Outdoor Activities</button>
        <button style="background-color: #87fe69" class='large_button' (click)="strategies()">Strategies</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
