<ion-header>
  <ion-navbar>
    <ion-title>
      Think Before You Act
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #92FDDB">

  <p align="center"><img src="assets/icon/mainIcon.png" alt=""> </p>
    <ion-footer>
      <ion-grid padding="0px">
            <button  style="background-color: #febd5f; font-weight:bold; line-height: 8vh !important" ion-button full round  (click)="loadSignUp()">Sign-Up</button>
            <button style="background-color: #89B2FE; font-weight:bold; line-height: 8vh !important" ion-button full round  (click)="loadLogin()">Login</button>

      </ion-grid>
    </ion-footer>

</ion-content>
