<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="5px" style="background-color: #FFFC88" >
  <p align="center"><img src="assets/icon/mainIcon.png" alt=""> </p>
<ion-footer padding="5px" >
<ion-grid>
  <form >
    <ion-input type="text" name="email" [(ngModel)]="email" placeholder="email" floating></ion-input>
    <ion-input   type="password" name="password" [(ngModel)]="password" placeholder="password" floating ></ion-input>
    <button style="background-color: #d87fd7; font-weight:bold; line-height: 8vh !important" center ion-button full round type="submit" (click)="login()">Login</button>
    <button style="background-color: #87fe69; font-weight:bold; line-height: 8vh !important" center ion-button full round (click)="loadSignUp()">Sign-Up</button>
  </form>
</ion-grid>
</ion-footer>

</ion-content>
