<ion-header>
  <ion-navbar>
    <ion-title>SignUp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="5px" style="background-color: #89B2FE" >
  <p align="center"><img src="assets/icon/mainIcon.png" alt=""> </p>
  <ion-footer padding="5px" >
    <ion-grid>
  <form [formGroup]="signupForm" (ngSubmit)="submit()" novalidate>

        <ion-input type="email" value="" placeholder="email" formControlName="email" floating></ion-input>
        <ion-input type="password" placeholder="Password" formControlName="password" floating></ion-input>
        <button style="background-color: #d87fd7; fontfont-weight:bold; line-height: 8vh !important" center ion-button full round type="submit" >Sign up</button>

  </form>
    </ion-grid>
  </ion-footer>
</ion-content>
