<!--
  Generated template for the ResetPassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Thin Before You Act</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title>ResetPassword</ion-title>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" novalidate>
    <ion-row>
      <ion-item>
        <ion-label for="email"></ion-label>
        <ion-input type="email" value="" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <button ion-button type="submit" block>Reset password</button>
    </ion-row>
  </form>

</ion-content>
