
<ion-header>

  <ion-navbar>
    <ion-title>Mood Tracker</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #9dfd9f">
  <ion-list-header>How you are feeling?</ion-list-header>
  <ion-list  >

    <!--<ion-item *ngFor="let emotion of emotions | async" (click)="addEmotion()">
     <img [src]="emotion.URL"> {{emotion.text}}-->
    <ion-item class="item item-trns text-center" (click)="addEmotion()"><ion-icon ><img src="assets/icon/anxoius.ico" width="50px" height="50px">Anxious</ion-icon></ion-item>
    <ion-item class="item item-trns text-center" (click)="addEmotion()"><ion-icon ><img src="assets/icon/angry.ico" width="50px" height="50px">Angry</ion-icon></ion-item>
    <ion-item class="item item-trns text-center" (click)="addEmotion()"><ion-icon ><img src="assets/icon/frustrated.ico" width="50px" height="50px">Frustrated</ion-icon></ion-item>
    <ion-item class="item item-trns text-center"  (click)="addEmotion()"><ion-icon ><img src="assets/icon/agitated.ico" width="50px" height="50px">Agitated</ion-icon></ion-item>
    <ion-item class="item item-trns text-center"  (click)="addEmotion()"><ion-icon ><img src="assets/icon/low.ico" width="50px" height="50px">Low in Mood</ion-icon></ion-item>
    <ion-item class="item item-trns text-center"  (click)="addEmotion()"><ion-icon ><img src="assets/icon/sad.ico" width="50px" height="50px">Sad</ion-icon></ion-item>
    <ion-item class="item item-trns text-center"  (click)="addEmotion()"><ion-icon ><img src="assets/icon/happy.ico" width="50px" height="50px">Happy</ion-icon></ion-item>
  </ion-list>
</ion-content>
