
<ion-header>

  <ion-navbar>
    <ion-title>Strategies</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-item style="background-color: #febd5f" >
      <h2>Problem Solving</h2>
    </ion-item>
    <img src="assets/images/strategies/problemSolving.png">
    <ion-card-content>
      <p>What are you struggling with the most at the moment or what do you find most challenging for you at this time
        (e.g I am self-harming a lot because I need the pain to clear my head, I feel worthless so I deserve to be punished, everyone hates me)
        I am self-harming 4 times a day in the form of cutting; I find it best to do this on my stomach and thighs because no one can see it.
        The best time is night time because I am not disturbed or if I need to do it during the day I just use the bathroom.</p>
    </ion-card-content>
    </ion-card>

  <ion-card>
    <ion-item style="background-color: #89B2FE" >
      <h2>Possible Solutions</h2>
    </ion-item>
    <img src="assets/images/strategies/solutions.png">
    <ion-card-content>
      <p>The main aim is to learn to develop more positive coping styles in the futures as opposed to engage in self-harming behaviours.
        Try to list at least 15 solutions, be creative and forget about the quality of the solution. If you allow yourself to be creative you
        may come up with some solutions that you would not otherwise have thought about.</p>
    </ion-card-content>
  </ion-card>

<ion-card>
  <ion-item style="background-color: #92FDDB" >
    <h2>Evaluate alternatives</h2>
  </ion-item>
  <img src="assets/images/strategies/evaluate.png">
  <ion-card-content>
    <p>The alternatives are to continue to engage in negative coping styles such as self-harming behaviours, continue to feel sad, lonely, ashamed,
      overwhelmed ect So establish the need and desire to change their behaviours with a view to change how they feel The next step is to go through
      and eliminate less desirable or unreasonable solutions There are no disadvantages to learning how to refrain from self-harming behaviours.
      There are numerous advantages such as no more secrecy, feelings of shame, scars on skins, able to wear hort sleeve clothes, shorts, swin wear ect Happier person.</p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item style="background-color: #FFFC88" >
    <h2>Decide on a Solution</h2>
  </ion-item>
  <img src="assets/images/strategies/solutions1.png">
  <ion-card-content>
    <p>Avail of the app with a view to learning how to develop more positive coping styles smart phone application, 24 accessibility 7 days a week Download the app now.</p>
  </ion-card-content>
  </ion-card>


</ion-content>
