<ion-header>

  <ion-navbar>
    <ion-title>Self Care</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Sleep Hygiene Tips
    </ion-list-header>
    <ion-item>Get Regular</ion-item>
    <ion-item>Sleep when sleepy</ion-item>
    <ion-item>Get up and try again</ion-item>
    <ion-item>Avoid caffeine</ion-item>
    <ion-item>Bed is for sleeping</ion-item>
    <ion-item>No naps</ion-item>
    <ion-item>Slepp rituals</ion-item>
    <ion-item>Bathtime</ion-item>
    <ion-item>No clock watching</ion-item>
  </ion-list>
</ion-content>
