<ion-header>

  <ion-navbar>
    <ion-title>Diary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding  >
  <form>
    <ion-item>
    <ion-textarea type="text"  rows="20" placeholder="Enter To Diary"></ion-textarea>
  </ion-item>
  </form>
  <ion-footer style="background-color: #f5fdaf">
    <ion-grid padding="0px">
      <ion-row >
        <ion-col>
          <button style="background-color: #FD996B"  center ion-button full round >Clear</button>
          <button style="background-color: #6EFECD" center ion-button full round  (click)="setEntry()">Save</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>
