<ion-header>

  <ion-navbar>
    <ion-title>Outdoor Activities</ion-title>
  </ion-navbar>

</ion-header>
<ion-content >
  <ion-card>
    <img src="assets/images/outdoor/museum.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Going to museums, art galleries
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/outdoor/joggingWalking.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Jogging, walking
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images//outdoor/shopping.png"/>
    <ion-card-content>
      <ion-card-title>
        Shopping
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/outdoor/GYM.png"/>
    <ion-card-content>
      <ion-card-title>
        Going to the gym
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/outdoor/skating.png"/>
    <ion-card-content>
      <ion-card-title>
        Going ice skating
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/outdoor/tennis.png"/>
    <ion-card-content>
      <ion-card-title>
        Play Tennis
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/outdoor/sightseeing.png"/>
    <ion-card-content>
      <ion-card-title>
        Sightseeing
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/outdoor/Bowling.png"/>
    <ion-card-content>
      <ion-card-title>
        Going Bowling
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
