<ion-header>

  <ion-navbar>
    <ion-title>Indoor Activities</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-card>
    <img src="assets/images/indoor/listeningMusic.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Listening to music
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/indoor/images of reading.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Reading magazines
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/indoor/boardGames.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Card and board games
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/indoor/cooking.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Cooking, baking
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/indoor/image of writing book.jpeg"/>
    <ion-card-content>
      <ion-card-title>
        Writing books
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/indoor/jigsaw.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Making jigsaw puzzles
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/indoor/image of playing cards.png"/>
    <ion-card-content>
      <ion-card-title>
        Playing cards
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/indoor/image playing computer games.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Playing computer games
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>

