<ion-header>
  <ion-navbar>
    <ion-title>
      Coloring Fun
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row [ngClass]="{'drawing-active': isDrawing}">
    <ion-col></ion-col>
    <ion-col>
      <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    </ion-col>
    <ion-col></ion-col>

  </ion-row>

  <ion-footer>
    <ion-grid padding="0px">
      <ion-row >
        <ion-col>
          <button style="background-color: #d87fd7; font-weight:bold; line-height: 8vh !important" center ion-button full round (click)="clearPad()">Clear</button>
          <button style="background-color: #87fe69; font-weight:bold; line-height: 8vh !important" center ion-button full round  (click)="savePad()">Save</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>


</ion-content>
